// --------------------------------------------
// Core Base ----------------------------------
// --------------------------------------------

html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: color(bg, 1); /* Fallback for when there is no custom background color defined. */
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: $font__family--base;
}

hr {
	border: 0;
	@include divider();
	margin-top: 24px;
	margin-bottom: 24px;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 24px;
	padding-left: 24px;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
}

dl {
	margin-top: 0;
	margin-bottom: 24px;
}

dt {
	@include font-weight(semibold);
}

dd {
	margin-left: 24px;
	margin-bottom: 24px;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
	vertical-align: middle;
}

figure {
	margin: 24px 0; /* Extra wide images within figure tags don't overflow the content area. */
}

figcaption {
	font-size: 18px;
	padding: 8px 0;
}

img,
svg {
	display: block;
}

// --------------------------------------------
// Tables -------------------------------------
// --------------------------------------------

table {
	border-collapse: collapse;
	margin-bottom: 24px;
	width: 100%;
}

tr {
	border-bottom: 1px solid color(bg, 3);
}

th {
	text-align: left;
}

th,
td {
	padding: 10px 16px;

	&:first-child {
		padding-left: 0;
	}

	&:last-child {
		padding-right: 0;
	}
}

// --------------------------------------------
// Link Style ---------------------------------
// --------------------------------------------

a {
	color: $color__link;
	text-decoration: none;

	&:hover,
	&:active,
	&:focus {
		color: $color__link--hover;
		text-decoration: underline;
	}
}

// --------------------------------------------
// Misc ---------------------------------------
// --------------------------------------------

// Highlight
mark {
	background: $color__highlight;
	padding: 0 0.2rem;
}

// Blockquote
blockquote {
	margin: 0 0 $margins 0;
	border-left: $blockquote__border;
	padding: 0 1.5rem;
	font-size: 1.5rem;

	cite {
		display: block;
		margin-top: $margins;
		font-size: 1rem;
		text-align: right;
	}
}

// Code block styling
pre {
	border: 0;
	border-radius: $border-radius;
	background: $code-background;
	padding: 1rem;
	tab-size: 2;
	color: $code-color;
	font-family: $code-family;
	font-size: $code-size;
	margin: 0 0 $margins 0;

	code {
		font-family: $code-family;
		line-height: 1.2;
	}
}

// Keyboard input
kbd {
	background-color: #f7f7f7;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
	color: #333;
	display: inline-block;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 1.4;
	margin: 0 .1em;
	padding: .1em .6em;
	text-shadow: 0 1px 0 #fff;
}

// Inline code styling
:not(pre) > code {
	color: $code-color;
	background: $code-background;
	font-family: $code-family;
	font-size: $code-size;
	padding: 0 0.2rem;
	border: $borders;
	border-radius: $border-radius;
}